@page "/inventory"
@inject EtiquetadoAuto.Services.StockService StockService

<h3>Inventario en la Nube</h3>

@if (productos == null)
{
    <p>Cargando datos de Firebase...</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th>Cantidad</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var prod in productos)
            {
                <tr>
                    <td>@prod.Codigo</td>
                    <td>@prod.Nombre</td>
                    <td>@prod.Cantidad</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<EtiquetadoAuto.Models.Producto> productos;

    protected override async Task OnInitializedAsync()
    {
        // Aquí llamamos a la función que mencionamos antes
        productos = await StockService.GetStockAsync();
    }
}